<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="outPath" value="X:\fractalout"/>
    <add key="minCr" value="-2.5"/>
    <add key="minCi" value="-1.5"/>
    <add key="maxCr" value="2.0"/>
    <add key="maxCi" value="1.5"/>
    <add key="startZi" value="-0.5"/>
    <add key="endZi" value="0.5"/>
    <add key="startZr" value="0.0"/>
    <add key="endZr" value="0.0"/>
    <add key="zoomLevel" value="1"/>
    <add key="offsetR" value="0"/>
    <add key="offsetI" value="0"/>
    <add key="inc" value="0.01"/>
    <add key="width" value="1920"/>
    <add key="height" value="1080"/>
    <add key="power" value="-2.5"/>
    <add key="iterationBase" value="1024"/>

	  <add key="colorScheme.pFlatDistance" value="true"/>
	  <add key="colorScheme.fixPBlue" value="false"/>
	  <add key="colorScheme.fixPGreen" value="false"/>
	  <add key="colorScheme.fixPRed" value="false"/>
	  <add key="colorScheme.invertPBlue" value="false"/>
	  <add key="colorScheme.invertPGreen" value="false"/>
	  <add key="colorScheme.invertPRed" value="false"/>
	  <add key="colorScheme.eAddDistance" value="true"/>
	  <add key="colorScheme.fixEBlue" value="false"/>
	  <add key="colorScheme.fixEGreen" value="true"/>
	  <add key="colorScheme.fixERed" value="true"/>
	  <add key="colorScheme.invertEBlue" value="true"/>
	  <add key="colorScheme.invertEGreen" value="true"/>
	  <add key="colorScheme.invertERed" value="true"/>
	  <add key="colorScheme.pBlue" value="255"/>
	  <add key="colorScheme.pGreen" value="255"/>
	  <add key="colorScheme.pRed" value="255"/>
	  <add key="colorScheme.eBlue" value="0"/>
	  <add key="colorScheme.eGreen" value="127"/>
	  <add key="colorScheme.eRed" value="127"/>

	  <add key="rootSolver.mode" value="0"/>
	  <add key="rootSolver.fixAt" value="0"/>
  </appSettings>
</configuration>